@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");

body {
  margin: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
}

*:focus {
  outline: none;
}

a {
  display: block;
}